<!-- about.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <%- include('partials/navigation') %>

    <main>
    <section> 
        <h1 class="display-1"></h1>
    </section>
    </main>
    <h1>Información sobre Messi</h1>
    <p>Lionel Andrés Messi, nacido el 24 de junio de 1987 en Rosario, Argentina, es considerado uno de los mejores futbolistas de todos los tiempos. Desde joven, Messi mostró un talento excepcional para el fútbol y a la edad de 13 años se trasladó a Barcelona para unirse a la academia juvenil del FC Barcelona.

        Messi debutó con el primer equipo del Barcelona en 2004 a la edad de 17 años. A lo largo de su carrera con el club, ha establecido numerosos récords y ha ganado numerosos títulos, incluyendo múltiples títulos de La Liga y la Liga de Campeones de la UEFA. También ha sido galardonado con el Balón de Oro en varias ocasiones, reconociéndolo como el mejor jugador del mundo.
        
        Su estilo de juego único, habilidades extraordinarias con el balón y capacidad para marcar goles lo han convertido en un ícono del fútbol mundial. En agosto de 2021, Messi dejó el Barcelona debido a problemas financieros del club y firmó con el París Saint-Germain (PSG) en la Ligue 1.
        
        Además de su éxito a nivel de clubes, Messi ha representado a la selección argentina en numerosos torneos internacionales, incluyendo la Copa del Mundo de la FIFA y la Copa América. Ganó su primer título importante con la selección argentina en la Copa América 2021.
        
        La carrera de Messi está marcada por su consistencia en el rendimiento, su impacto en el juego y su contribución al fútbol mundial, consolidándolo como uno de los grandes jugadores de la historia del deporte.</p>
</body>

</html>
